<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.persistence.mapper.UserMapper">
    <resultMap type="com.example.persistence.model.C2COrder" id="UserResult">
        <result property="id" column="id"></result>
        <result property="orderId" column="orderId"></result>
        <result property="userid" column="userid"></result>
        <result property="protocol" column="protocol"></result>
        <result property="coin" column="coin"></result>
        <result property="amount" column="amount"></result>
        <result property="status" column="status"></result>
        <result property="createDate" column="createDate"></result>
        <result property="updateDate" column="updateDate"></result>
        <result property="updateBy" column="updateBy"></result>
    </resultMap>
    <select id="findAll" resultMap="UserResult">
        select * from c2c_order order by id desc
    </select>
    <insert id="insertOrder" parameterType="com.example.persistence.model.C2COrder">
        INSERT INTO `c2c_order`
        (`order_id`,
        `user_id`,
        `protocol`,
        `coin`,
        `amount`,
        `status`,
        `create_date`,
        `update_date`,
        `update_by`)
        VALUES
        (#{orderId},
        #{userId},
        #{protocol},
        #{coin},
        #{amount},
        #{status},
        #{createDate},
        #{updateDate},
        #{updateBy})
    </insert>
    <update id="updateOrder" parameterType="com.example.persistence.model.C2COrder">
        update user
        <set>
            <if test="order_id != null">
                order_id = #{orderId},
            </if>
            <if test="user_id != null">
                user_id = #{userId},
            </if>
            <if test="protocol != null">
                protocol = #{protocol},
            </if>
            <if test="coin != null">
                coin = #{coin},
            </if>
            <if test="amount != null">
                amount = #{amount},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="create_date != null">
                create_date = #{createDate},
            </if>
            <if test="update_date != null">
                update_date = #{updateDate},
            </if>
            <if test="update_by != null">
                update_by = #{updateBy},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>